/*body部分*/
body {
    width: 1449px;
}

/*内容部分*/
.on.the.line{
  margin: 50px 290px 16px 0px;
}
.active.item.all.question{
  width: 28px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #4a4a4a;
}
.ui.basic.segment-p{
  margin-top: 0px;
  margin-bottom: 0px;
}
/*footer部分*/
.ui.basic.segment.footer{
  width:100%;
  height:56px;
  padding-left: 236px;
  padding-right: 220px;
  border: none;
  color: #666666;
  margin-top: 0px;
  padding-top: 0px;
}
.footer1{
  color: #979797;
  margin-left: 0px;
  margin-top: 0px;
}
.footer2{
  color: #979797;
  margin-left: 100px;
  margin-top: 0px;
}
.footer3{
  color: #979797;
  margin-left: 140px;
  margin-top: 0px;
}
