body {
  margin: 0;
  padding: 0;
}
p {
  color: black;
}
ul {
  color: black;
  font-size: 15px;
}
#global-nav {
  height: 46px;
  box-shadow: 2px 10px 5px #888888;
}
.ui.inverted.fixed.borderless.menu {
  background-color: #2f364a;
  padding-left: 16.6%;
  padding-right: 19.6%;
}
#global-nav input {
  width: 248px;
  height: 30px;
}
#global-nav a:hover {
  background-color: #2f364a;
}
#global-nav a.active {
  background-color: #19212e;
}
.question .ui.circular.label {
  background-color: #eff5f9;
  color: #5a81b3;
}
.question {
  margin-top: 64px;
  margin-left: 286px;
  width: 588px;
}
#divider {
  margin-left: -48px;
}
.ui.header.number {
  margin-left: 48px;
  margin-top: 0;
}
.item-answer {
  width: 636px;
  left: 238px;
  position: relative;
  overflow: auto;
}
.item-answer > .p-answer {
  width: 48px;
  float: left;
}
.item-answer > .p-answer .number {
  color: #698ebf;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 27px;
  left: 50%;
}
.item-answer > .p-answer  .ui.icon.button.up {
  width: 38px;
  height: 45px;
  position: relative;
  background-color: #eff6fa;
}
.item-answer > .p-answer  .ui.icon.button.down {
  width: 38px;
  height: 24px;
  margin-top: 6px;
  background-color: #eff6fa;
  position: relative;
}
.item-answer > .p-answer  .ui.icon.button.up img {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 11px;
  left: 50%;
}
.item-answer > .p-answer  .ui.icon.button.down img {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 12px;
  left: 50%;
  margin-top: 5px;
}
.item-answer > .c-answer {
  width: 588px;
  float: right;
  left: 48px;
  font-size: 13px;
}
.c-answer .ui.image.user-icon {
  position: absolute;
  margin-right: 50px;
}
.c-answer > .ui.text.menu {
  margin: 0;
}
.c-answer > .ui.text.menu > .ui.header {
  font-size: 14px;
}
.c-answer > .ui.text.menu span {
  color: #b9b9b9;
}
.c-answer > .ui.text.menu .sub.header {
  margin-top: 10px;
  font-size:3px;
  color:#b9b9b9;
}
.r-answer pre {
  background-color: #f8f8f8;
}
.more-item > .ui.button {
  width: 588px;
  margin-top: 22px;
  margin-bottom: 22px;
  color: #83a1c7;
  background-color: #eff6fa;
  position: relative;
  left: 286px;
}
.reply-input {
  width: 588px;
  position: relative;
  left: 286px;
}
.reply-input .header.item a {
  font-size: 14px;
}
.reply-input .header.item span {
  font-size: 14px;
}
.reply-input > .ui.card .icon.picture.grey.large {
  margin: 10px 18px;
}
.reply-input textarea {
  margin:0;
  width:100%;
  height:106px;
  border:0;
}
.reply-input > .ui.button {
  background-color: #3e78ad;
  color: #fff;
  position:relative;
  left:100%;
  transform:translate(-100%,0)
}
.ex-comment {
  position: relative;
}
.ex-comment > .ui.basic.center.aligned.segment.upangle {
  padding: 0;
  margin: 0;
  position:absolute;
  z-index:1;
  top:-13px;
  left:163px;
}
.ex-comment > .ui.basic.center.aligned.segment.upangle > i {
  background-color: #fff;
  color: #e7e7e7;
  width: 12px;
}
.zh-footer {
  margin-left: 238px;
  width: 950px;
  color: #bbbbbb;
  position: relative;
}
.zh-footer a {
  color: #bbbbbb;
}
.f-middle {
  margin-left: 189px;
  margin-right: 232px;
}
.f-right {
  position: absolute;
  right: 0;
}
