{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen" title="no title">
    {% include 'css_js.html' %}

</head>
<body id="app">

    <div class="ui basic segment container" id="login-container">
        <div>
            <span id="login-logo">Exchange</span>
            <div class="ui two item text menu">
                <a class="item" href="{% url 'register' %}">
                    <span style="font-size: 20px">
                        <p class="outset" style="border-bottom:2px solid rgb(247, 250, 252);" href="#signup">注册</p>
                    </span>
                </a>
                <a class="active item">
                    <span style="font-size: 20px">
                        <p class="outset" style="border-bottom:2px solid #2185D0;">登录</p>
                    </span>
                </a>
            </div>
        </div>
        <form class="ui form" id="login-form">
            <div class="field" v-on:click="msgShow=false">
                <p v-if="msgShow" id="form-message">[[email_err]]</p>
                <input v-model="email" type="email" placeholder="邮箱">
            </div>
            <div class="field">
                <p v-if="msgShow" id="form-message2">[[password_err]]</p>
                <input v-model="password" type="password" placeholder="密码">
            </div>
            <a v-on:click="logIn" class="ui blue button" style="margin-top: 25px;width: 270px">登录</a>
            <div class="ui text menu">
                <div class="right menu">
                    忘记密码？
                </div>
            </div>
        </form>
    </div>
    <script>
        Vue.config.delimiters = ["[[", "]]"];
        vm = new Vue({
            el: '#app',
            data:{
                email: '',
                password: '',
                email_err:'',
                password_err:'',
                msgShow: false
            },
            methods:{
                logIn:function () {
                    var self = this;
                    var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                    isok= reg.test(self.email);
                    if (self.email==''){
                        self.msgShow=true;self.email_err='请填写邮箱地址';self.password_err='';
                    }else if(self.password=='') {
                        self.msgShow = true;
                        self.password_err = '请填写密码';self.email_err = '';
                    }else if(!isok){
                        self.msgShow=true;self.email_err='请填写正确邮箱';self.password_err='';
                    } else{
                            reqwest({
                            url : '/api/login/',
                            type:'json',
                            method:'post',
                            data:{
                                email: this.email,
                                password: this.password
                            },
                            success:function (resp) {
                                Cookies.set('token', resp.token,{ expires: 365});
                                window.location.href = '/';
                            },
                            error:function (err) {
                                message = err.response;
                                json_msg = JSON.parse(message);
                                self.email_err = json_msg.login_err;
                                self.msgShow = true;
                            }
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>
