{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ question.title }}</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" media="screen" title="no title" charset="utf-8">
    {% include 'css_js.html' %}

</head>
<body id="app">
    <div id="home-page" style="display: none">
        {% include 'top_nav.html' %}
    <!--问题开始-->
    <div class="question">
        <div class="ui header">
        <h3>{{ question.title }}</h3>
        <div class="sub header">
          <div class="sub header">
            {{ question.desc }}
          </div>
        </div>
        </div>
        <div id="divider">
            <div class="ui divider"></div>
                <div class="ui header number">{{ question.answer_counts }}个回答</div>
            <div class="ui divider"></div>
        </div>
    </div>
    <!--问题结束-->
    <!--正文开始-->

    <div v-for="answer in answers" class="item-answer">
        <div class="like-or-not">
            <div v-on:click="userVote" class="ui icon button up [[answer.like_or]]" type="submit" name="button">
                <i class="ui caret up icon"></i>
                <div class="number">[[ answer.like_counts ]]</div>
            </div>
            <div class="ui icon button down" type="submit" name="button">
                <i style="position: absolute;top: 5px;left: 11px;color: #698ebf" class="ui caret down icon"></i>
            </div>
        </div>
        <div class="content-answer">

            <div class="answer-head">
                <a id="username" href="/profile/[[answer.author.id]]">[[ answer.author.name ]],</a>
                <span id="user-desc"> [[ answer.author.desc ]]</span>
                <div id="user-desc">[[ answer.like_counts ]]人赞同</div>
                <img style="height: 25px;width:25px" id="user-avatar" :src="answer.author.avatar" alt="" />
            </div>

            <div id="answer-p">
                <p>
                    [[ answer.content ]]
                </p>
                <div class="ui text menu meta-item">
                    <div class="item">
                        发布于[[ answer.create_time|date:"Y-m-d" ]]
                    </div>
                    <div class="item">
                        <i class="comment icon"></i>
                        {% if answer.comment_counts == 0 %}
                            <a id="comment-num-a" v-show="!answer.show_all_comments" v-on:click="getComment">添加评论</a>
                        {% else %}
                            <a id="comment-num-a" v-on:click="getComment(answer)" v-show="!answer.show_all_comments">[[ answer.comment_counts]]条评论</a>
                        {% endif %}
                        <a id="comment-num-a" v-show="answer.show_all_comments" v-on:click="showAllCommentsSwitch">收起</a>
                    </div>
                </div>
                <!--评论和回复-->
                <div v-if="answer.show_all_comments" style="box-sizing: border-box;padding: 20px;width: 500px;border: 1px solid #ddd;border-radius: 5px">
                    <div class="ui comments">
                      <div v-for="comment in comments" class="comment">
                        <a class="avatar">
                          <img :src="comment.author.avatar">
                        </a>
                        <div class="content">
                          <a id="username" href="/profile/[[comment.author.id]]">[[comment.author.name]]</a>
                          <div class="metadata">
                            <div class="date">[[comment.create_time]]</div>
                          </div>
                          <div class="text">
                            [[comment.content]]
                          </div>
                          <div v-on:click="ifLogin" class="actions" v-on:click="commentReplyInput(comment)">
                            <a class="reply active" style="color: #999">回复</a>
                          </div>
                          <form v-show="comment.comment_reply_input" class="ui reply form">
                            <div class="field">
                              <input>
                            </div>
                            <div v-on:click="commentReplyInput(comment)" class="ui tiny button" style="background-color: white;color: #999;margin-left: 68%;">
                              取消
                            </div>
                            <div class="ui tiny button" style="background-color: #0D6EB8;color: white;float: right">
                              回复
                            </div>
                          </form>
                        </div>
                      <div class="ui divider"></div>
                      </div>
                        <!--评论表单-->
                      <form class="ui form">
                        <div v-on:click="ifLogin" class="field">
                          <input v-model="comment_content" placeholder="写下你的评论..."></input>
                        </div>
                        <div v-on:click="comment_content=''" class="ui tiny button" style="background-color: white;color: #999;margin-left: 71%;">
                          取消
                        </div>
                        <div v-on:click="addComment(answer)" class="ui tiny button" style="background-color: #0D6EB8;color: white;float: right">
                          评论
                        </div>
                      </form>
                    </div>
                </div>
                <div class="ui divider"></div>
            </div>
      </div>
    </div>

    <div class="ui long button">
        <div class="header item">
            <a v-on:click="loadMoreAnswer">[[moreOrNot]]</a>
        </div>
    </div>

    <div class="ui form" style="width: 540px;height: 220px;left: 20%">
        <div v-on:click="ifLogin" class="field">
            <textarea v-model="answer_content" rows="5"></textarea>
        </div>
        <div v-on:click="addAnswer" class="ui blue button" style="float: right">提交回答</div>
    </div>

    <!--正文结束-->
    {% include 'footer.html' %}
  </div>
    <script>
    Vue.config.delimiters = ["[[", "]]"];
    vm = new Vue({
        el: '#app',
        data:{
            answers:[],
            user_info:'',
            login_not:false,
            login_already:false,
            answer_content:'',
            comments:[],
            comment_input_show:true,
            comment_show:false,
            comment_content:'',
            moreOrNot: '加载更多',
            question:{
                title:'',
                desc: '',
                topic:''
            }
        },
        methods:{
            addQuestionBtn:function () {
                var self=this;
                if (self.user_info==''){
                    return $('#register-modal').modal('show')
                }else{
                    return $('#question-modal').modal('show');
                }
            },
            ifLogin:function () {
                var self=this;
                if (self.user_info==''){
                    return $('#register-modal').modal('show')
                }
            },
            addQuestion:function () {
                var self = this;
                    reqwest({
                    url: '/api/questions/',
                    type: 'json',
                    method: 'post',
                    headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                    data:{
                        title:self.question.title,
                        desc: self.question.desc,
                        topic:self.question.topic
                    },
                    success:function (resp) {
                        window.location.href= '/question/'+resp.id+'/'
                    }
                })
            },
            addAnswer:function () {
                var self = this;
                if (self.user_info==''){
                    return $('#register-modal').modal('show')
                }else{
                    reqwest({
                        url: '/api/answers/',
                        type:'json',
                        method: 'post',
                        headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                        data:{
                            question_id: {{ question.id }},
                            content: self.answer_content
                        },
                        success:function () {
                            self.answer_content = '';
                            self.getAnswer();
                        }
                    })
                }
            },
            getAnswer:function () {
                var self = this;
                reqwest({
                    url: '/api/questions/'+{{ question.id }},
                    headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                    type:'json',
                    success:function (resp) {
                        if(resp.length<10){
                                self.moreOrNot = '没有了'
                            }
                        for (r in resp) {
                            resp[r].show_all_comments = false
                        }
                        self.answers = resp;
                    }
                })
            },
            getComment:function (answer) {
                var self = this;
                reqwest({
                    url: '/api/comments?answer_id=' + answer.id,
                    type: 'json',
                    headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                    success:function (resp) {
                        self.comments = resp;
                        answer.show_all_comments = true;
                    }
                })
            },
            loadMoreAnswer:function () {
                var self = this;
                reqwest({
                    url: '/api/answers?p=' + self.answers.length,
                    type: 'json',
                    headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                    success:function (resp) {
                        for (r in resp) {
                            resp[r].show_all_comments = false
                        }
                        before_len = self.answers.length;
                        for(a in resp){
                            self.answers.push(resp[a])
                        }
                        after_len = self.answers.length;
                        if (after_len-before_len<5){
                            self.moreOrNot = '没有了'
                        }
                    }
                })
            },
            showAllCommentsSwitch:function (answer) {
                this.getAnswer();
                answer.show_all_comments = !answer.show_all_comments;
            },
            commentReplyInput:function (comment) {
                comment.comment_reply_input = !comment.comment_reply_input
            },
            addComment:function (answer) {
                var self = this;
                if (self.user_info==''){
                    return $('#register-modal').modal('show')
                }else{
                    reqwest({
                        url: '/api/comments/',
                        method: 'post',
                        type: 'json',
                        headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                        data:{
                            content: self.comment_content,
                            answer_id: answer.id
                        },
                        success:function () {
                            self.getComment(answer);
                            self.comment_content = ''
                        }
                    })
                }
            },
            userVote:function (answer) {
                var self = this;
                if (self.user_info==''){
                    return $('#register-modal').modal('show')
                }else{
                        reqwest({
                        url:'/api/user_vote/'+  answer.id + '/' + self.user_info.id +'?vote=like',
                        type: 'json',
                        success:function (resp) {
                            answer.like_counts = resp.like_counts;
                            if (answer.like_or == 'like'){
                                answer.like_or = 'normal'
                            }else{
                                answer.like_or = 'like'
                            }
                        }
                    })
                }
            },
            logOut:function () {
                Cookies.remove('token');
                location.reload()
            },
            request_user:function () {
                var self = this;
                reqwest({
                    url: '/api/users/now/',
                    type: 'json',
                    headers: Cookies.get('token')?{'Authorization': 'Token ' + Cookies.get('token')}:{},
                    success:function (resp) {
                        self.user_info = resp;
                        self.login_already = true
                        },
                    error:function (err) {
                        json_msg = JSON.parse(err.response);
                        self.login_not = true
                        }
                    })
                },
            displayBody:function () {
                document.querySelector('#home-page').style.cssText = "display:"
            }
        },
        ready:function () {
            this.request_user();
            this.getAnswer();
            this.displayBody()
        }
    })
    </script>
  </body>
</html>